<html>
    <body>
        <form action="/updatePrd" method="post">
            Productid: <input type="text" name="prdid" id="prdid" value="<%=prd.prdid%>" readonly> <br>
            Product name: <input type="text" name="pname" id="pname"> <br>
            Price : <input type="text" name="price" id="price"> <br>
            <input type="submit" name="btn" id="btn" value="Insert Product">
        </form>
    </body>
</html>