<html>
    <body>
        <form action="/insertEmployee" method="post">
            Employee id: <input type="text" name="empid" id="empid"> <br>
            Employee name: <input type="text" name="empname" id="empname"> <br>
            Employee salary: <input type="text" name="salary" id="salary">
            <input type="button" name="btn" id="btn" value="addemp">
        </form>
    </body>
</html>